#manage-spot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 30px;
}

#button-container {
    width: 200px;
    height: 50px;
    background-color: var(--text-color);
    border-radius: 10px;
}

#button-container a {
    color: black;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

#update-delete-container {
    display: flex;
    gap: 50px;
    padding-top: 10px;
    align-items: center;
}

#button-container:hover {
    box-shadow: 0 0 5px 2px grey;
}
.manage-link {
    display: inline-block; /* or block, depending on your layout needs */
    height: 100%; /* Ensures the link is the same size as its container */
    text-decoration: none; /* Removes underline from the link */
}

.manage-button {
    width: 100px;
    height: 30px;
    background-color: var(--text-color);
    border-radius: 10px;
    font-family: 'MedievalSharp';
    font-weight: bold
}

.manage-button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 2px grey;
}
.manage-button li {
    color: black;
    font-family: 'MedievalSharp';
}

.manage-button a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
