:root {
  --text-color: #ef8b09;
}

.spot-image {
    width: 500px;
    height: 300px;
    padding: 0; /* Reduce padding to avoid extra space */
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px; /* Include padding and border in the total width and height */
  }

  .spot-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the container while maintaining aspect ratio */
    display: block; /* Ensures proper block-level display */
    border-radius: 8px; /* Optional: Adds rounded corners to the image */
  }
#spot-list {
    display: flex;
    flex-wrap: wrap;

}

#spot-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px;
}

#spot-item h2 {
  margin: 10px 0; /* Adjust margins as needed */
}

#spot-item p {
    margin: -5px 0;
}

#nav-link {
  color: var(--text-color);
  text-decoration: none;
}
.main-image {
  width: 1000px;
  height: 600px;
}

#spot-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info{
  display: flex;
  justify-content: space-between;
}

.star-icon {
  width: 30px;
  height: 30px;
  padding-top: 7px
}

.star-rating {
  display: flex;
  gap: 8px
}
