#images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sub-images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.sub-images-placeholder {
    width: 600px;
    height: 290px
}

#spot-card {
    margin-left: 5%;
}

