:root {
    --text-color: #9d723a;
    --background-color: #201d1d;
    --form-color: #4C371C;
  }

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
}

h1, h2, h3, h4, span, a, p {
    color: var(--text-color);
    margin-top: 10px;
    font-weight: normal;
    font-family: 'MedievalSharp'
  }

  label {
    font-family: 'MedievalSharp';
    color: var(--text-color)
  }
