.profile-dropdown {
  position: absolute;
  right: 8em
}

.hidden {
  display: none;
}

#home-icon {
  width: 350px;
  margin-left: -25px
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
  padding-left: 50px;
  border-bottom: 2px solid black
}

#profile-button {
  width: 500px
}
