 /* .profile-dropdown {
  position: relative;
} */

.hidden {
  display: none;
}

#home-icon {
  width: 350px;
  margin-left: 30px;
  width: 250px
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid black;
  height: 100px;
  background-color: #201D1D;
}
