#user-button {
    background: var(--text-color);
    border-radius: 20px;
    margin-right: 50px;
}

#user-button:hover {
    box-shadow: 0 0 5px 2px grey;
}
.user-icon {
    width: 75px;
    height: 30px;
}

#user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#spot-creator {
    display: flex;
    align-items: center;
    justify-content: center;
}

#spot-creator h3 {
    padding-bottom: 20px;
}

#spot-creator {
    font-size: 30px;
    text-decoration: none;
    color: var(--text-color);
}

#spot-creator:hover {
    text-decoration: underline;
}

